<%- layout("layouts/boilerplate") %>
<style>
        .dash-card {
            width: 16rem;
            height: 8rem;
        }

        .blok {
            margin-top: 3rem;
            height: 8rem;
            width: 16rem;
        }
    </style>
    <body>
        <div class="owner-list-container">
            <div class="event-container">
                <div class="com-header d-flex justify-content-between">
                    <div class="left">
                        <h2 class="fw-bold">Owners & Residents List</h2>
                        <p class="text-muted ">Directory of all society members</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="block-box d-flex flex-wrap justify-content-center gap-4 mb-4">
                <% for (let i=0; i < BlockList[0].total_block; i++) { %>
                    <div
                        class="box-a blok border d-flex justify-content-center align-items-center rounded-3 fw-bold bg-white">
                        <a href="/resident-ownerList/<%= String.fromCharCode(65 + i) %>">
                            Block-<%= String.fromCharCode(65 + i) %>
                        </a>
                    </div>
                    <% } %>
            </div>
      
    </body>